.checkBox{
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(210, 242, 255);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.checkLeft{
    flex-grow: 6;
    background-color: rgb(228, 228, 228);
    height: 100%;
    display: grid;
    grid-template-rows:70% 30%;
    /* border: 10px solid rgb(203, 203, 203); */
}

.checkRight{
    flex-grow: 5;
    background-color: rgb(117, 241, 129);
    height: 100%;
    border: 10px solid rgb(203, 203, 203);
}

.leftTop{

    background-color: rgb(242, 242, 175);
    border: 10px solid rgb(203, 203, 203);
    overflow-y: scroll;
}

.leftBottom{


    background-color: rgb(233, 149, 176);
    border: 10px solid rgb(203, 203, 203);
}